[mariadb]
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
innodb_buffer_pool_size=384M
innodb_log_file_size=128M
innodb_flush_method=O_DIRECT
skip-name-resolve
local-infile=0
performance_schema=OFF
max_connections=25
tmp_table_size=16M
max_heap_table_size=16M
table_open_cache=200
thread_cache_size=16
max_allowed_packet=64M
